.container {
  padding: 40px;
  position: relative;
}

.reactBg {
  position: absolute;
  right: 100px;
  top: 100px;


  div {
    div {
      position: relative;
      border: 1px solid white;
      border-radius: 60px;
      padding: 15px;
      padding-right: 60px;
      min-width: 700px;
      height: 312px;
      display: flex;
      justify-content: end;
      align-items: flex-end;

      p {
        text-transform: uppercase;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
        font-size: 110px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('/images/Rectangle.png') center/cover no-repeat;
      filter: blur(55px);
      border-radius: 60px;
      z-index: -1;
    }
  }

  img {
    z-index: -11;
    position: absolute;
    right: 130px;
    top: 170px;
    width: 266px;
    height: auto;
  }

  transition: opacity 0.3s ease-in-out;
}

.wrapTech {
  display: flex;
  flex-direction: column;
  gap: 100px;

  div {
    display: flex;
    gap: 200px;

    div {
      position: relative;
      z-index: 111;
      display: flex;
      flex-direction: column;
      gap: 100px;
      max-width: 550px;

      .infoTech {
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-top: -25px;
      }

      .infoTechText {
        color: black;
      }
    }
  }

  h3 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    span {
      font-size: 32px;
      color: #c3c3c3;
      display: flex;
      align-items: center;
      gap: 20px;

      .black {
        color: black;
      }

      li {
        user-select: none;
        font-size: 16px;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        align-items: center;
        display: flex;
        gap: 20px;
        padding: 8px 12px;
        background-color: white;
        border-radius: 10px;
        transition: transform 0.3s;

        span {
          height: 22px;
        }

        &:hover {
          transform: scale(1.05);
        }

        &.activeTech {
          transform: scale(1.1);
          background-color: rgba(34, 173, 248, 0.12); /* Можно добавить фон для активного элемента */
          color: rgb(255, 84, 84);
        }
      }
    }
  }
}

.techItem {
  cursor: pointer;
  transition: color 0.3s ease;
}

.arrow {
  transition: color 0.3s, transform 0.3s;
}

.activeArrow {
  color: black !important;
}